@import 'tailwindcss';

@theme inline {
  --font-oswald: var(--font-oswald);
  --animate-slide-up: slide-up 0.8s ease-out var(--animation-delay, 0s) backwards;

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
